{% extends "Scratch/index.html" %}
{% load render_table from django_tables2 %}
{% load matchArrange_extra %}
{% load static %}
{% block css %}
    <link href={% static "Scratch/css/productlist.css" %} rel='stylesheet' type='text/css'/>
    <link href={% static "Scratch/css/gallerylist.css" %} rel='stylesheet' type='text/css'/>
    <style>
        .a-title{
            color: #E74C3C;
            text-decoration: underline;
        }
    </style>
{% endblock %}

{% block mainbody %}
<div id="parent">
    <div>
        <br><br>
    </div>

    <div id="head" class="col-lg-offset-1 col-lg-10">
        <table class="table table-condensed table-hover">
                <tr>
                    <th width="20%">玩家1</th>
                    <th width="20%">玩家2</th>
                    <th width="20%">类型</th>
                    <th width="20%">对局结果</th>
                    <th width="20%">查看详情</th>
                </tr>
        </table>
    </div>

    {% for i in matchArrange %}
        {% get_game i as obj %}

        <div class="col-lg-offset-1 col-lg-10">
            <div>
                <table class="table table-condensed table-hover" id="parent">
                    <tr class="{{ forloop.counter | get_class }}">
                        <td width="20%">{{ i.left}}</td>
                        <td width="20%">{{ i.right }}</td>
                        {% if i.type == 0 %}
                            <td width="20%">小组赛</td>
                        {% else %}
                            <td width="20%">第{{ i.type }}轮</td>
                        {% endif %}
                        {% if i.result == -1 %}
                            <td>{{ i.left }}胜</td>
                        {% elif i.result == 1 %}
                            <td>{{ i.right }}胜</td>
                        {% elif i.result == 0 %}
                            <td>对战中</td>
                        {% else%}
                            <td>尚未开始</td>
                        {% endif %}
                        <td width="20%"><a data-parent="#parent" data-toggle="collapse" href="#{{ i.pk }}">查看</a></td>
                    </tr>
                </table>
            </div>
            <div id="{{ i.pk }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-condensed table-hover">
                        <tr>
                            <th width="25%">场次</th>
                            <th width="25%">先手</th>
                            <th width="25%">结果</th>
                            <th width="25%">操作</th>
                        </tr>
                        {% for j in obj.games %}
                            <tr class="{{ forloop.counter | get_class }}">
                                <td>{{ j.game }}</td>
                                {% if j.kind == -1 %}
                                    <td>{{ i.left }}</td>
                                {% else %}
                                    <td>{{ i.right }}</td>
                                {% endif %}
                                {% if j.result == -1 %}
                                    <td>{{ i.left }}胜</td>
                                    <td><a href="{% url "team_match:team_match_gameDetail" j.pk %}">回放</a></td>
                                {% elif j.result == 1 %}
                                    <td>{{ i.right }}胜</td>
                                    <td><a href="{% url "team_match:team_match_gameDetail" j.pk %}">回放</a></td>
                                {% elif j.result == 0 %}
                                    <td>对战中</td>
                                    <td><a href="{% url "team_match:team_match_gameDetail" j.pk %}">进入对战</a></td>
                                {% else%}
                                    <td>尚未开始</td>
                                    <td><a onclick="battleMatchRequest('{{ j.pk }}');" style="cursor:pointer">开始对战</a></td>
                                {% endif %}

                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>



    {% endfor %}


    {% if is_paginated %}
        <div class="pagination" style="margin:auto 25%;font-size: medium;">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    {% if request.GET.q and request.GET.order %}
                        <a href="/gallerylist/?q={{ request.GET.q }}&order={{ request.GET.order }}&page={{ page_obj.previous_page_number }}">上一页</a>
                    {% elif request.GET.q %}
                        <a href="/gallerylist/?q={{ request.GET.q }}&page={{ page_obj.previous_page_number }}">上一页</a>
                    {% elif request.GET.order %}
                        <a href="/gallerylist/?order={{ request.GET.order }}&page={{ page_obj.previous_page_number }}">上一页</a>
                    {% else %}
                        <a href="/gallerylist/?page={{ page_obj.previous_page_number }}">上一页</a>
                    {% endif %}
                {% endif %}
                <span class="page-current">
                    第{{ page_obj.number }}页，共{{ page_obj.paginator.num_pages }}页
                </span>
                {% if page_obj.has_next %}
                    {% if request.GET.q and request.GET.order %}
                        <a href="/gallerylist/?q={{ request.GET.q }}&order={{ request.GET.order }}&page={{ page_obj.next_page_number }}">下一页</a>
                    {% elif request.GET.order %}
                        <a href="/gallerylist/?order={{ request.GET.order }}&page={{ page_obj.next_page_number }}">下一页</a>
                    {% elif request.GET.q %}
                        <a href="/gallerylist/?q={{ request.GET.q }}&page={{ page_obj.next_page_number }}">下一页</a>
                    {% else %}
                        <a href="/gallerylist/?page={{ page_obj.next_page_number }}">下一页</a>
                    {% endif %}
                {% endif %}
            </span>
        </div>

    {% endif %}

</div>

{% endblock %}

{% block script %}
    <script src={% static "Scratch/js/productlist.js" %}></script>
    <script src={% static "Scratch/js/jquery.cookie.js" %}></script>
    <script>
        function battleMatchRequest(game_id) {
            $.ajax({
                url : "{% url "team_match:team_match_battle_match_request"%}",
                type : "POST",
                data : {
                    "game_id":game_id
                },
                dataType : 'json',
                success:function (data) {
                    if(data.start){
                        let opCode = data.opCode;
                        console.log(window.location.host)
                        window.open("http://" + window.location.host.toString() + "/team_match/show_gobang_battle/?opCode=" + opCode, '_blank')
                        console.log(opCode);
                    }else{
                        alert(data.msg);
                    }
                },
                error:function () {
                    console.log('match start error');
                }
            })
        }
        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg); //匹配目标参数
            if (r != null) return unescape(r[2]);
            return null; //返回参数值
        }

        function order_by(order) {
            var q_param = getUrlParam('q');
            if (q_param) {
                window.location.href = '?q=' + q_param + '&order=' + order;
            } else {
                window.location.href = '?order=' + order;
            }
        }
    </script>
{% endblock %}