{% extends "Scratch/index.html" %}
{% load render_table from django_tables2 %}
{% load favorite_extra %}
{% load staticfiles %}
{% load competition_extra %}
{% block css %}
    <link href={% static "Scratch/css/productlist.css" %} rel='stylesheet' type='text/css'/>
    <link href={% static "Scratch/css/gallerylist.css" %} rel='stylesheet' type='text/css'/>
    <link href={% static "team_match/css/chessStyle.css" %} rel="stylesheet" type="text/css"/>
    <style>
        .a-title{
            color: #E74C3C;
            text-decoration: underline;
        }
    </style>
{% endblock %}

{% block mainbody %}
    <canvas id="chess" width="450px" height="450px"></canvas>
{% endblock %}

{% block script %}
    <script src={% static "Scratch/js/productlist.js" %}></script>
    <script src={% static "Scratch/js/jquery.cookie.js" %}></script>
    <script src={% static "team_match/js/chess.js" %}></script>
    <script src={% static "team_match/js/play.js" %}></script>
    <script>

        var gameSocket = null;
        startGame();
        connectSocket(getUrlParam('opCode'))

        function getUrlParam (name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if (r !== null) return unescape(r[2]); return null;
        }
        function connectSocket(opCode) {
            if(opCode === null) return;
            gameSocket = new WebSocket('ws://' + window.location.host + '/ws/battleroom/' + opCode + '/');
            gameSocket.onclose = function(e) {
                alert('Chat socket closed');
            };
            gameSocket.onopen = function (e) {
                battleMatchStart(opCode);
                console.log('game start');
            };
            gameSocket.onmessage = function(e) {
                let data = JSON.parse(e.data);
                let message = data['message'];
                if(message['type'] === 'action'){
                    let actionRow = Number(message['row']);
                    let actionCol = Number(message['col']);
                    showPlayerAction(actionRow, actionCol, message['color']);
                    if(message['gameEnd']) {
                        gameSocket.close();
                    }
                }
            }
        }
        function showPlayerAction(i, j , color) {
            chessboard.set((i * 16 + j),true)
            context.beginPath();
            context.arc(j * 30 - 15, i * 30 - 15, 13, 0, 2 * Math.PI);
            context.closePath();
            var gradient = context.createRadialGradient(15 + j * 30 + 2, 15 + i * 30 - 2, 13, 15 + j * 30 + 2, 15 + i * 30 - 2, 0);
            if (color === 'white') {
                gradient.addColorStop(0, "#D1D1D1");
                gradient.addColorStop(1, "#E0E0E0");
            } else {
                gradient.addColorStop(0, "#0A0A0A");
                gradient.addColorStop(1, "#636766");
            }
            context.fillStyle = gradient;
            context.fill();
        }
        function battleMatchStart(opCode) {
            $.ajax({
                url : "{% url "team_match:team_match_battle_match_start"%}",
                type : "POST",
                data : {
                    "opCode":opCode
                },
                dataType : 'json',
                success:function (data) {
                    if(data.start){

                    }else{
                        alert(data.msg);
                    }
                },
                error:function () {
                    console.log('match start error');
                }
            })
        }
    </script>
{% endblock %}