{% extends "Scratch/index.html" %}
{% load render_table from django_tables2 %}
{% load favorite_extra %}
{% load staticfiles %}
{% load competition_extra %}
{% block css %}
    <link href={% static "Scratch/css/productlist.css" %} rel='stylesheet' type='text/css'/>
    <link href={% static "Scratch/css/gallerylist.css" %} rel='stylesheet' type='text/css'/>
    <style>
        .a-title{
            color: #E74C3C;
            text-decoration: underline;
        }
    </style>
{% endblock %}

{% block mainbody %}
<div>
    <div>
        <br><br>
    </div>

    <div id="type-list" class="col-lg-offset-1 col-lg-10">
        <table class="table table-condensed table-hover">
            <tr>
                <td>报名</td>
                <td>竞赛名称</td>
                <td>创建者</td>
                <td>竞赛开始时间</td>
                <td>竞赛结束时间</td>
                <td>是否可以参加</td>
            </tr>
            {% for i in competitions %}
                {% if forloop.counter|divisibleby:2 %}
                    <tr class="active">
                        {% get_competition_attend i as obj %}
                        {% if obj.has_authority %}
{#                        {% if obj.can_attened %}#}
                            <td style="color:red">✔</td>
                        {% else %}
                            <td>✘</td>
                        {% endif %}
                            {% if can_attend %}
                                <td><a onclick="reloadtoexam({{ i.pk }})"  class="a-title" href="javascript:void(0)">{{ i.title }}</a></td>
                            {% else %}
                                <td>{{ i.title }}</td>
                            {% endif %}
                        <td>{{ i.creator.name }}</td>
                        <td>{{ i.start_time }}</td>
                        <td>{{ i.stop_time }}</td>
                        {% if obj.can_attend %}
                            <td>可以参加</td>
                        {% else %}
                            <td>不能参加</td>
                        {% endif %}
                    </tr>
                {% endif %}
                {% if forloop.counter|add:1|divisibleby:2 %}
                    <tr class="success">
                        {% get_competition_attend i as obj %}
                        {% if obj.has_authority %}
                            <td style="color:red">✔</td>
                        {% else %}
                            <td>✘</td>
                        {% endif %}
                            {% if obj.can_attend %}
                                <td><a onclick="reloadtoexam({{ i.pk }})"  class="a-title" href="javascript:void(0)">{{ i.title }}</a></td>
                            {% else %}
                                <td>{{ i.title }}</td>
                            {% endif %}
                        <td>{{ i.creator.name }}</td>
                        <td>{{ i.start_time }}</td>
                        <td>{{ i.stop_time }}</td>
                        {% if obj.can_attend %}
                            <td>可以参加</td>
                        {% else %}
                            <td>不能参加</td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>

    {% if is_paginated %}
        <div class="pagination" style="margin:auto 25%;font-size: medium;">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    {% if request.GET.q and request.GET.order %}
                        <a href="/gallerylist/?q={{ request.GET.q }}&order={{ request.GET.order }}&page={{ page_obj.previous_page_number }}">上一页</a>
                    {% elif request.GET.q %}
                        <a href="/gallerylist/?q={{ request.GET.q }}&page={{ page_obj.previous_page_number }}">上一页</a>
                    {% elif request.GET.order %}
                        <a href="/gallerylist/?order={{ request.GET.order }}&page={{ page_obj.previous_page_number }}">上一页</a>
                    {% else %}
                        <a href="/gallerylist/?page={{ page_obj.previous_page_number }}">上一页</a>
                    {% endif %}
                {% endif %}
                <span class="page-current">
                    第{{ page_obj.number }}页，共{{ page_obj.paginator.num_pages }}页
                </span>
                {% if page_obj.has_next %}
                    {% if request.GET.q and request.GET.order %}
                        <a href="/gallerylist/?q={{ request.GET.q }}&order={{ request.GET.order }}&page={{ page_obj.next_page_number }}">下一页</a>
                    {% elif request.GET.order %}
                        <a href="/gallerylist/?order={{ request.GET.order }}&page={{ page_obj.next_page_number }}">下一页</a>
                    {% elif request.GET.q %}
                        <a href="/gallerylist/?q={{ request.GET.q }}&page={{ page_obj.next_page_number }}">下一页</a>
                    {% else %}
                        <a href="/gallerylist/?page={{ page_obj.next_page_number }}">下一页</a>
                    {% endif %}
                {% endif %}
            </span>
        </div>

    {% endif %}

</div>

{% endblock %}

{% block script %}
    <script src={% static "Scratch/js/productlist.js" %}></script>
    <script src={% static "Scratch/js/jquery.cookie.js" %}></script>
    <script>
        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg); //匹配目标参数
            if (r != null) return unescape(r[2]);
            return null; //返回参数值
        }

        function reloadtoexam(competitionid) {
            $.cookie('competitionid', competitionid, {path: '/'});
            window.location.href='http://127.0.0.1:8000/scratch2/examscratch.html';
        }

        function order_by(order) {
            var q_param = getUrlParam('q');
            if (q_param) {
                window.location.href = '?q=' + q_param + '&order=' + order;
            } else {
                window.location.href = '?order=' + order;
            }
        }
    </script>
{% endblock %}