<html>
<body>
<table border="1">
  <tr>
    <th>Parallelism</th>
    <th>Abstraction and Problem decomposition</th>
    <th>Synchronization</th>
	<th>FlowControl</th>
	<th>UserInteractivity</th>
	<th>DataRepresentation</th>
	<th>LogicalThinking</th>
  </tr>
  <tr>
    <td>{{Parallelism}}</td>
    <td>{{ap_score}}</td>
    <td>{{Synchronization}}</td>
	<td>{{FlowControl}}</td>
	<td>{{UserInteractivity}}</td>
	<td>{{DataRepresentation}}</td>
	<td>{{LogicalThinking}}</td>
  </tr>
</table>


<img src="data:image/png;base64,{{graphic | safe}}">

</body>
</html>
