{% extends "Scratch/index.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href={% static "css/problem_detail.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/bootstrap-table.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/submission_detail.css" %}>
    <style type="text/css">
        .diff
        {
            margin:10px 0;
            zoom:1;
        }
        .diff:after
        {
            height:0;
            clear:both;
            content:"";
            visibility:hidden;
            display:block;
        }
        .text
        {
            width:300px;
            float:left;
            margin-right:10px;
            border:1px solid #F60;
            padding:10px;
            min-height:80px;
        }
        .text-del
        {
            text-decoration: line-through;
            color: #A82400;
            background-color: #E5BDB2;
        }
        .text-add
        {
            background: #D1E1AD;
            color: #405A04;
        }
        .mui-ellipsis-3 {
            display: -webkit-box;
            overflow: hidden;
            white-space: normal !important;
            text-overflow: ellipsis;
            word-wrap: break-word;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
        }
        .innerCtn {
            text-indent: 1rem;
            line-height: 0.8rem;
            font-size: 0.5rem;
        }
    </style>
{% endblock css %}
{% block mainbody %}

    <div class="container ng-scope" ng-app="app">
        <div class="row ng-scope" ng-controller="BaseCtrl as baseCtrl">
            <div class="col-md-12">
                <h4>
                <a href="/OJ/problem/{{ object.problem.pk }}/" >{{ object.problem.pk }}.{{ object.problem.title }}</a>
                </h4>
            </div>
            <div class="col-md-12 extra-top ng-scope" ng-controller="PollerCtrl">
                <h3>提交详情</h3>
                <div id="details-summary">
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td id="status">
                                    <strong>结果：</strong>
                                    <h4 id="result_state" class="inline-wrap ng-binding" ng-class="{'blue':'text-info', 'green':'text-success', 'red': 'text-danger'}[statusColor]" >
                                        {{ object.result_zh }}
                                    </h4>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="submitted-time">
                                        <strong>
                                            提交时间：
                                        </strong>
                                        <span id="result_date">{{ object.submission_time }}</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="result_code_output_row" ng-show="resultCodeOutput" class>
                    <div id="result_code_output">
                        <strong>信息：</strong>
                        {% if object.info.real_time %}
                            <p>运行时间：{{ object.info.real_time }}ms</p>
                            <p>内存使用：{{ object.info.memory }}Byte</p>
                            <p>测试用例：{{ object.info.test_case }}</p>
                            <p>输出结果：</p>
                            <pre>{{ object.info.output }}</pre>
                        {% else %}
                            <p>{{ object.info }}</p>
                        {% endif %}

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                {% if standardOutput != None %}
                                <div class="diff">
                                    <div class="text">
                                        <p>输入：</p>
                                        <div class="innerCtn">
                                             <pre id="input" class="mui-ellipsis-3">{{ input }}</pre>
                                        </div>

                                    </div>
                                    <div class="text">
                                        <p>输出：</p>
                                        <div class="innerCtn">
                                            <pre id="userOutput" class="mui-ellipsis-3"></pre>
                                        </div>

                                    </div>
                                    <div class="text">
                                        <p>标准输出：</p>
                                        <div class="innerCtn">
                                            <pre id="standardOutput" class="mui-ellipsis-3"></pre>
                                        </div>

                                    </div>
                                </div>
                                {% endif %}
                                <div class="pull-left" style="font-size: 16px">
                                    语言：
                                    <span id="result_language">{{ object.language }}</span>
                                </div>
                                <div class="pull-right">
                                    <button id="edit-code-btn" class="btn btn-primary" >
                                        编辑代码
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="editor">{{ object.code }}
                </div>
            </div>
        </div>

    </div>
<script src={% static "ace/src/ace.js" %} type="text/javascript" charset="utf-8"></script>


<script>
    var editor = ace.edit("editor");
{#    editor.setTheme("ace/theme/monokai");#}
{#    editor.setTheme("ace/theme/chaos");#}
    editor.setTheme("ace/theme/xcode");
    editor.session.setMode("ace/mode/python");
    document.getElementById('editor').style.fontSize="25px";
    editor.setReadOnly(true);
    $(document).ready(function () {
        $('.innerCtn').click(function(){
            if($(this).children(0).hasClass('mui-ellipsis-3')){
                $("#input").removeClass("mui-ellipsis-3");
                $("#useroutput").removeClass("mui-ellipsis-3");
                $("#standardOutput").removeClass("mui-ellipsis-3");
            }else{
                $("#input").addClass("mui-ellipsis-3");
                $("#useroutput").addClass("mui-ellipsis-3");
                $("#standardOutput").addClass("mui-ellipsis-3");
            }
        });
        $("#edit-code-btn").click(function () {
            var code = editor.getValue();
            console.log("code:",code);
            location.href= "/OJ/problem/{{ object.problem.id }}?submission_id={{ object.pk }}";
        });
        var result = {{ object.result }};
        if ( result == "0"){
            $("#result_state").addClass("text-success");
            $("#result_code_output").addClass("alert alert-success");
        }else{
            $("#result_state").addClass("text-danger");
            $("#result_code_output").addClass("alert alert-danger");
        }
    });
</script>
{% if standardOutput != None %}
<script src={% static "js/diff_match_patch.js" %} type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    var dmp = new diff_match_patch();

    function launch() {
        var text1 = "{{ userOutput | escapejs }}";
        var text2 = "{{ standardOutput | escapejs }}";
        dmp.Diff_EditCost = 8;

        var d = dmp.diff_main(text1, text2);
        dmp.diff_cleanupEfficiency(d);
        var oldStr = "", newStr = "";
        for (var i = 0, j = d.length; i < j; i++) {
            var arr=d[i];
            if (arr[0] == 0) {
                oldStr += arr[1];
                newStr += arr[1];
            } else if (arr[0] == -1) {
                oldStr += "<span class='text-del'>" + arr[1] + "</span>";
            } else {
                newStr += "<span class='text-add'>" + arr[1] + "</span>";
            }
        }
        document.getElementById('userOutput').innerHTML = oldStr;
        document.getElementById('standardOutput').innerHTML = newStr;
    }

    launch();
</script>
{% endif %}
{% endblock mainbody %}