{% extends 'index.html' %}
{% block content %}
 <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>CT培训</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a >CT培训</a>
                        </li>
                        <li class="active">
                            <strong>CT概念</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
    {% if not no_access %}
        <div class="panel-body col-lg-10 col-lg-offset-1">
            <section id="level26">

                <p>“计算思维”这一概念,自从2006年美国卡内基梅隆大学(CMU)的周以真教授(Jeannette M.Wing)在《Communications of the ACM》发表论文“Computational Thinking”并对其做了较为系统的阐述后,这一概念受到了广泛的关注,并逐步形成了“计算思维”研讨之热潮｡
                </p>
                <p>计算机之所以能够比人类大脑更加快速准确地“计算”,正是在计算机克服了人类自然语言上述“三位一体性”的“缺陷”｡计算机能够快速､准确地“计算”的最基本的原因,就是硬件与软件的分离､程序与数据的分离｡这实际上也就是将我们人类自然语言中的思想与方法､方法与对象､思想与对象实行了分离｡由于这些分离,使得计算机的程序语言中的命令与数据,都能非常精确地指称计算机内存里面的确定区域｡这样,计算机“计算”的时候,就不会象人类大脑那样,左半脑中的一个语词指称的是一个几乎难以确切地划分出“边界”的右半脑中的图景,而是一块有着确定“地址”的内存区域｡这样,计算机就能够达到快速准确地“计算”了｡
                </p>
                <p>计算机的程序语言是一种高度形式化的语言,这种语言与它要处理的对象是严格分离的｡而计算机语言所要处理的对象,仅仅是数据｡即使我们称现在的计算机能够处理“图象”和“声音”,它也是把这些图象和声音变成了数据之后进行处理的｡这样,计算机语言又达到了方法与对象的分离｡由于计算机语言没有思想,当然就谈不上思想与对象的分离｡而我们之所以能够有效地利用计算机,其中最关键的一条也就是我们把需要计算机处理的信息变成了“数据”｡这同样使得我们的思想---我们不同的人之间的关于世界的看法与对象分离了｡
                </p>
                <p>因为,数据一旦采集之后,就成为一种“客观”的东西,无论我们用什么样的观点看待和处理这些数据,但是,数据本身却不会变化了｡由于计算机语言能够达到帮助我们人类在处理信息的过程中使思想与方法､方法与对象､思想与对象三者之间达到非常有效的分离,计算机也就能够为我们做很多的工作｡而这一点,则正是计算机的优势｡
                </p>
                <p>计算机思维主要是指利用计算机的科学基础概念,理解问题､思考问题,并系统性地将人的行为转化为计算机的思考模式｡简而言之,计算机习惯将文件分类,可以根据时间分类,也可以根据类型分类,更可以根据文件大小分类,那么人也能整合自己的思维,在记忆事情时,也应更好分类头脑中零碎的信息,可以按照事件的急缓程度分类,可以按照事件的重要程度分类,这样就能将问题变得更具条理化,从而能更好安排自己的时间和精力｡这种思维模式是现代社会中每个学生,甚至应是每个人都必须掌握的一门基本的技能,其能帮助更好“规划”自己的思维空间,从而让每项信息都安放到应安放的位置｡
                </p>
                <p>计算机思维是运用计算机科学的基础概念进行问题求解､系统设计以及人类行为理解等涵盖计算机科学之广度的一系列思维活动｡更多强调学生对待问题的态度,当学生遇到问题以后,要让学生积极解决问题,不是去等待或者焦虑,这其实对解决问题于事无补｡运用计算机思维梳理问题,找到问题关键点,进而解决问题这才是计算机思维的内涵｡科学解决问题,先要冷静,当人急躁或者精力不集中时,想法会很片面,不能从全面的角度细致考虑问题｡因此,要冷静下来,从问题表面触及问题的根源,从而解决问题｡计算机型人才的培养,主要是让学生具有良好的主观能动性,帮助学生形成良好的计算机理念和计算机思维,让学生主动发现问题和解决问题｡学生长久受到此思维的影响,会形成自己独有的思维方式,特别是多元性问题出现时,能做到举一反三｡
                </p>
                <p>[1]WING J M.Computational Thinking[J].Communications of the ACM,2006,49(3):33-35
                </p>



            </section>
        </div>
    {% endif %}
{% endblock %}