{% extends 'index.html' %}
{% block content %}
<style>
        p{text-indent:2em}
        div>img{
            height:200px;
            width:150px;
        }
    </style>
     <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>关于我们</h2>
                </div>
     </div>
    {% if not no_access %}
        <div class="panel-body col-lg-10 col-lg-offset-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <section>
                            <div class="sb2"><img src="/../static/img/PersonnelInfo/sunyan.jpg" ></div>
                            <p>孙岩，女，博士，教授，博士生导师。华录北邮义乌研究院学术委员会成员，技术总监。 IEEE、ACM会员，CCF高级会员。北京市经信委项目评审专家，北京市中关村管委项目评审专家。2016年，入选义乌英才人才计划。
                            </p>
                        </section>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <section >
                            <div class="sb2"><img src="/../static/img/PersonnelInfo/chenpiao.jpg" ></div>
                            <p>陈飘 麦宝教育创始人，青少年创客教育倡导者和践行者，青少年编程导师。曾从事教育工作多年，有丰富的一线教学经验和创业管理经验，是热爱挑战、追逐梦想的85后。</p>
                        </section>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <section>
                            <div class="sb2"><img src="/../static/img/PersonnelInfo/luohong.jpg" ></div>
                            <p>罗红，女，博士，教授，博士生导师。现任北京邮电大学计算机学院物联网中心主任，国际学院物联网工程专业负责人，华录北邮义乌研究院学术委员会成员。IEEE、ACM会员，CCF高级会员。曾获计算机学会优秀博士论文奖和教育部新世纪人才计划。</p>
                        </section>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <section >
                            <div class="sb2"><img src="/../static/img/PersonnelInfo/huangdongde.jpg" ></div>
                            <p>黄冬德 华录北邮义乌研究院。曾任职于华为、中兴等知名企业，先后主持或参与了多项包括973、863、重大专项的相关科研项目，有丰富的团队管理经验。</p>
                        </section>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <section>
                            <div class="sb2"><img src="/../static/img/PersonnelInfo/changzhong.jpg" ></div>
                            <p>常重，在北京邮电大学获计算机科学与技术学士学位，现为北京邮电大学硕士。主要的研究方向包括：物联网、数据分析与人工智能等。擅长Lambda架构大数据平台的搭建以及高可用数据分析服务的实现。
                            </p>
                        </section>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <section >
                            <div class="sb2"><img src="/../static/img/PersonnelInfo/zhangyongguang.jpg" ></div>
                            <p>张永光 1963年出生，中学高级教师。92年开始从事计算机专业教学与研究工作，现任义乌市教育局教研室信息技术学科教研员，学科带头人；省计算机教育学会理事。近几年主持《中小学信息技术学业评价》、《信息学奥赛辅导与学力提升》等多个省级课题研究。</p>
                        </section>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <section>
                            <div class="sb2"><img src="/../static/img/PersonnelInfo/wangxiaolei.jpg" ></div>
                            <p>王晓磊 在北京邮电大学获计算机科学与技术学士学位，现为北京邮电大学硕士。研究方向为大数据存储，分布式存储，数据分析。具有深厚的javaweb开发经验，熟悉数据库操作。
                            </p>
                        </section>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <section >
                            <div class="sb2"><img src="/../static/img/PersonnelInfo/songronggang.jpg" ></div>
                            <p>宋荣罡 1976年生，高级教师，网络工程师，现任义乌市小学信息技术学科教研员。2006年11月加入九三学社。2006年被评为金华市第八届教坛新秀，2007年被评为义乌市优秀教师，2011年被列为金华市第5批名师、名校长培养人选。</p>
                        </section>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <section>
                            <div class="sb2"><img src="/../static/img/PersonnelInfo/ks.jpg" ></div>
                            <p>孔硕，目前在攻读北京邮电大学硕士学位，目前研究方向为物联网和大数据。具有网站设计、程序设计开发经验。
                            </p>
                        </section>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <section >
                            <div class="sb2"><img src="/../static/img/PersonnelInfo/yy.jpg" ></div>
                            <p>冯玉芽，在吉林大学获得信息工程学士学位，现为北京邮电大学硕士。主要的研究方向为：物联网、数据挖掘与大数据分析。具有深厚的javaweb开发经验，精通前端界面设计与后台接口开发。</p>
                        </section>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <section>
                            <div class="sb2"><img src="/../static/img/PersonnelInfo/pc.jpg" ></div>
                            <p>彭聪 在北京邮电大学获计算机科学与技术学士学位，现为北京邮电大学硕士。研究方向为物联网、机器学习与数据分析。主要擅长java web后台开发以及分布式数据存储。
                            </p>
                        </section>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <section>
                            <div class="sb2"><img src="/../static/img/PersonnelInfo/zdz.jpg" ></div>
                            <p>张德钊，在北京邮电大学获得应用物理学理学学士学位，现为北京邮电大学计算机技术专业硕士。主要研究方向包括：物联网硬件程序设计、Android开发等。
                            </p>
                        </section>



                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <section >
                            <div class="sb2"><img src="/../static/img/PersonnelInfo/jyh.jpg" ></div>
                            <p>江友华，1995年出生，现为北京邮电大学硕士生。主要研究方向为物联网，大数据与智能信息处理等。</p>
                        </section>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <section>
                            <div class="sb2"><img src="/../static/img/PersonnelInfo/lz.jpg" ></div>
                            <p>刘正，北京邮电大学计算机科学与技术专业在读硕士，主要研究方向为硬件编程、数据挖掘等，有android、python web等开发经验。
                            </p>
                        </section>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <section >
                            <div class="sb2"><img src="/../static/img/PersonnelInfo/cxl.jpg" ></div>
                            <p>柴晓琳，1994年生，现为北京邮电大学硕士生。主要研究方向为大数据与智能信息处理。</p>
                        </section>

                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <section >
                            <div class="sb2"><img src="/../static/img/PersonnelInfo/qz.jpg" ></div>
                            <p>齐真，1994年出生，现为北京邮电大学硕士生。主要研究方向为物联网，大数据与智能信息处理等。</p>
                        </section>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <section >
                            <div class="sb2"><img src="/../static/img/PersonnelInfo/lp.jpg" ></div>
                            <p>刘派，曾在大连理工大学获通信工程学士学位，现为北京邮电大学计算机专业硕士。研究方向为大数据分析和人工智能等。熟悉以ssm架构的javaweb开发以及基于python和R语言的数据分析与挖掘。</p>
                        </section>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <section>
                            <div class="sb2"><img src="/../static/img/PersonnelInfo/xc.jpg" ></div>
                            <p>徐灿，本科阶段在北京邮电大学计算机科学与技术专业进行学习，推免至北京邮电大学计算机研究院。
                            </p>
                        </section>

                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>

        </div>
    {% endif %}

    <a href="#top">
        <img src="/../static/img/totop.png" href="#top"  style="position: fixed; bottom: 40px;right: 0; z-index: 1;cursor: pointer" />
    </a>
{% endblock %}
