{% extends 'index.html' %}
{% load render_table from django_tables2 %}

{% block content %}
    <div id="boxs">
        <ul class="list-group">
            {% for foo in positions %}
    {#                <input class="radios" type="radio" name="position">#}
    {#                <label>{{ foo.name }}</label><br>#}
                <li class="list-group-item">
                    <a href="/t/check_one_position/?position={{ foo.name }}">{{ foo.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

{% block script %}
<script type="text/javascript">
{#    $(document).ready(function () {#}
{#        $("#submit").click(function () {#}
{#            var result = [];#}
{#            var u = [];#}
{#            {% for foo in positions %}#}
{#                 u.push("{{ foo.name }}");#}
{#            {% endfor %}#}
{#            var c = document.getElementsByClassName("radios");#}
{#            var f;#}
{#            for (var i = 0; i < c.length; i++) {#}
{#                if (c[i].checked) {#}
{#                    f = u[i];#}
{#                }#}
{#            }#}
{#            $.ajax({#}
{#                url: "/t/change_teacher_permission_api/?user=" + getQueryString("user") + "&position=" + f,#}
{#                method: "post",#}
{#                dateType: 'json',#}
{#                success: function () {#}
{#                    alert("修改成功！");#}
{#                }#}
{#            });#}
{##}
{#        });#}
{#    });#}
{#    function getQueryString(name) {#}
{#        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");#}
{#        var r = window.location.search.substr(1).match(reg);#}
{#        if ( r != null ){#}
{#            return unescape(r[2]);#}
{#        } else {#}
{#            return null;#}
{#        }#}
{#    }#}
</script>
{% endblock %}

