{% extends 'index.html' %}
{% load render_table from django_tables2 %}

{% block nav_bar %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>班级管理</h2>
            <ol class="breadcrumb">
                <li>
                    班级管理
                </li>
                <li class="active">
                    <strong><a href="/t/class_management/">班级管理(可跳转)</a></strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block content %}
     <div class="wrapper wrapper-content">
            <div class="ibox-content m-b-sm border-bottom">
                <form id="net"  method="get" >
                {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">学校</label>
                                <select class="form-control"   onpropertychange="()" id="schoolname" tabindex="2" name="school" data-placeholder="学校">
                                    <option value="">选择学校</option>
                                    {% for school in schools %}
                                        <option value={{ school.school_name }}>{{ school.school_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="control-label">班级</label>
                                <select class="form-control"  id="classname" name="class">
                                    <!--需要在选择学校之后关联得到班级列表，然后在jsp中添加或去掉option选项，下面是测试使用-->
                                    <option value="">选择班级</option>
                                </select>
                            </div>
                        </div>


                        <div class="col-sm-1">
                            <div class="form-group">
                                <label class="control-label"> </label>
                                <div class="input-group-btn" style="margin-left: 7%">
                                    <input class="btn btn-lg btn-primary" type="submit" onclick="return sub()" value="查询">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-1">
                            <div class="form-group">
                                <label class="control-label"> </label>
                                <div class="input-group-btn" style="margin-left: 7%">
{#                                    <input class="btn btn-lg btn-primary" type="submit" href="/t/class_management/signup/" value="新建班级">#}
                                    <a class="btn btn-lg btn-primary"id="tecrechapr" href="/t/class_management/signup/" > 新建班级</a>
                                </div>
                            </div>
                        </div>
                     <div class="col-sm-1">
                            <div class="form-group">
                                <label class="control-label"> </label>
                                <div class="input-group-btn" style="margin-left: 7%">
{#                                    <input class="btn btn-lg btn-primary" type="submit" href="/t/class_management/signup/" value="新建班级">#}
                                    <a class="btn btn-lg btn-primary" id="addstubtn" style="margin-left: 7%"> 增加学生</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
{##}
            {% if class_table %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                {% render_table class_table "table/table.html" %}
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}
      </div>

{% endblock %}
{% block script %}
<script type="text/javascript">
     window.onload=function () {
        if (document.getElementById('getPage')){
             document.getElementById('getPage').onclick=function () {
                var page=Number($("#pagenum").val());
                console.log(page);
                var pos=window.location.href.indexOf("?");
                var hrf="";
                if(pos==-1){
                    hrf=window.location.href.slice(0);
                }else{
                    hrf =window.location.href.slice(0,pos);
                }
                var sortpos=window.location.search.indexOf("sort=");
                var sortendpos=window.location.search.indexOf("&",sortpos);
                console.log(sortpos);
                console.log(window.location.search.slice(sortpos+5));
                if(sortpos>-1){
                    if(sortendpos>-1){
                        window.location.href=hrf+"?page="+page+"&sort="+window.location.search.slice(sortpos+5,sortendpos);
                    }else {
                        window.location.href = hrf + "?page=" + page + "&sort=" + window.location.search.slice(sortpos + 5);
                    }
                }else {
                     window.location.href=hrf+"?page="+page;
                }

             }
        }



    };

    $('#addstubtn').click(function () {
         window.location.href="/t/add_student";
         return false;
    });
    $("#schoolname").change(function () {
        var schoolid=$("#schoolname").val();
        $.getJSON(encodeURI("/ajax/get_class?school="+schoolid),function(data){
{#            console.log(data);#}
            var content='';
            content+='<option value=>'+' '+'</option>'
            $.each(data,function (i,item) {
                content+='<option value='+item.pk+'>'+item.fields.class_name+'</option>'
            });
            $("#classname").html('');
            $('#classname').append(content)
            $("#studentname").html('');
        });
    });
    $("#classname").change(function () {
        var classid=$("#classname").val();
        $.getJSON(encodeURI("/ajax/get_student?class="+classid),function(data){
            console.log(data);
            var content='';
            content+='<option value=>'+' '+'</option>'
            console.log(content);
            $.each(data,function (i,item) {
                content+='<option value='+item.pk+'>'+item.fields.name+'</option>'
            });
            $("#studentname").html('');
            $("#studentname").append(content);
        });
    });

     function sub() {
        document.cookie="schoolname="+$("#schoolname").val();
        document.cookie="stuname="+ $("#studentname").val();
        document.cookie="classname="+$("#classname").val();
            $.ajax({
                type:"GET",
                url:"/t/class_management/",
                data:$("#net").serialize(),
                async: false,
            error: function(request) {
                alert("Connection error:"+request.error);
            },
            success: function(data) {
                $("#page").html(data);
            }
            });
            return false;
    }
         function SortCall(obj) {
            var str1=obj.innerHTML;
            var start=str1.indexOf("href");
            var stop=str1.indexOf(">");
            var str2=obj.childNodes[0].search;
            console.log(str2);
            $.ajax({
                    type:"GET",
                    url:"/t/class_management/"+str2,
                    //data:$("#net").serialize(),
                    async: false,
                error: function(request) {
                    alert("Connection error:"+request.error);
                },
                success: function(data) {
                    data=data;
                    $("#page").html(data);
                }
                });
            return false;
        }

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            {% if no_access %}
                alert('{{no_access}}');
                setTimeout(window.location.href = '/t/', 3);
            {% endif %}
            var schoolname=getCookie("schoolname"),
                classname=getCookie("classname"),
                stuname=getCookie("stuname");
            if(schoolname!=null){
                $('#schoolname').val(schoolname);
{#                console.log($('#schoolname').html());#}
                $.getJSON(encodeURI("/ajax/get_class?school=" + schoolname), function (data) {
                var content = '';
                var schoolnum=0;
{#                显示的为空还是名字，进行判断开始#}
                $.each(data, function (i, item) {
                    if (item.pk == classname) {
                        schoolnum+=1;
                        content += '<option value=' + item.pk + '>' + item.fields.class_name + '</option>'
                    }
                });
                if(schoolnum==0){
                    content += '<option value=""></option>';
                }
{#                                显示的为空还是名字，进行判断结束#}
                $.each(data, function (i, item) {
                    if (item.pk != classname)
                        content += '<option value=' + item.pk + '>' + item.fields.class_name + '</option>'
                });
                if(schoolnum!=0){
                    content += '<option value=""></option>';
                }
                $("#classname").html('');
                $('#classname').html(content);
                $("#studentname").html('');
                var classid = classname;
                console.log($('#classname').html());
                $.getJSON(encodeURI("/ajax/get_student?class=" + classid), function (data) {
                    var content = '';
                    var classnum=0;
                    $.each(data, function (i, item) {
                        if (item.pk == stuname) {
                            classnum+=1;
                            content += '<option value=' + item.pk + '>' + item.fields.name + '</option>';
                        }
                    });
                    if(classnum==0){
                        content += '<option value=""></option>';
                    }
                    $.each(data, function (i, item) {
                        if (item.pk != stuname) {
                            content += '<option value=' + item.pk + '>' + item.fields.name + '</option>';
                        }
                    });
                    if(classnum!=0){
                         content += '<option value=""></option>';
                    }
                    $("#studentname").html('');
                    $("#studentname").html(content);
                });
            });
            }
        });
   </script>
{% endblock %}