{% extends 'index.html' %}
{% block statics2 %}
    <style>

    </style>
{% endblock %}
{% block nav_bar %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>竞赛管理</h2>
            <ol class="breadcrumb">
                <li>
                    <a>竞赛管理</a>
                </li>
                <li>
                    <a href="/t/competition_management/">竞赛管理(可跳转)</a>
                </li>
                <li class="active">
                    <strong>删除竞赛</strong>
                </li>
            </ol>
        </div>

        <div class="col-lg-2">

        </div>
    </div>
{% endblock %}
{% block content %}
    <form class="text-center" action="" method="post" style="margin-top: 10%;" xmlns="http://www.w3.org/1999/html">{% csrf_token %}
        <h1 style="line-height: 3.5rem;">您确定要删除名称:"<strong>{{ object.title }}</strong>"的竞赛吗?</h1>
        <button class="btn btn-primary" style="font-size: 2.9rem;margin-top: 5%" onclick="window.location='/t/competition_management_admin/';return false">取消删除</button>
        <input class="btn btn-primary" type="submit" value="确定删除" style="font-size: 2.9rem;margin-top: 5%" />
    </form>

</form>
{% endblock %}

