{% extends 'index.html' %}
{% load staticfiles %}
{% block statics2 %}
{% load render_table from django_tables2 %}
    <link href={% static "css/plugins/iCheck/custom.css" %} rel="stylesheet">
    <style>
        .flexpos{
            width: 50%;
            display: flex;
            justify-content: flex-start;
        }
        .flexpos a{
            margin-right: 5%;
        }
        li{
            list-style: none;
        }
    </style>
{% endblock %}
{% block nav_bar %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>课程管理</h2>
            <ol class="breadcrumb">
                <li>
                    <a>课程管理</a>
                </li>
                <li class="active">
                    <strong><a href="/t/course_management/">课程管理(可跳转)</a></strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block content %}

    <div class="wrapper wrapper-content">
        <div class="col-lg-12">
            <div class="flexpos" >
                <input type="text" id="sousuo" placeholder="请输入课程名称" style="margin-left: 7%;"><a class="btn btn-primary" href="#" id="sousuobtn">搜索</a>
                <a class="btn btn-primary" href="/t/course_management/new/"> 新建课程</a>
{#                <a class="btn btn-primary" id="updcourse" href="#">查看课程</a>#}
{#                <a class="btn btn-primary"  id="delcourse" href="#">删除课程</a>#}
{#                <a class="btn btn-primary" id="chapter" href="#">章节管理</a>#}
{#                <a href="/t/course_management/?sort=lesson_id"><img src="/../static/img/up.png" style="width: 30px ; height: 30px "/></a>#}
{#                <a href="/t/course_management/?sort=-lesson_id"><img src="/../static/img/down.png" style="width: 30px ; height: 30px "/></a>#}


            </div>

            {% if lesson_table %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-content">
                                {% render_table lesson_table "table/table.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
{#            <ul id="list" style="font-size: medium;">#}
{#                {% for lesson in lessons %}#}
{#                    <li>#}
{#                        <p>#}
{#                            <div class="ibox-content">#}
{#                                <div class="row"><div class="col-md-4"><fieldset>#}
{#                                         <div class="i-checks" style="width: 1000px"><label><span class="tag"><input class="tag" type="radio" value={{ lesson.lesson_id }} name="a"></span> <span class="tag1"  id="chapter_id">编号：{{ lesson.lesson_id }}</span><span class="tag2">章节名称：{{ lesson.name }}</span><span class="tag5">内容简介：{{ lesson.short_introduction }}</span></label>#}
{#                                         </div>#}
{#                                    </fieldset></div>#}
{##}
{#                                </div>#}
{#                            </div>#}
{##}
{#                        </p>#}
{#                    </li>#}
{#                {% endfor %}#}
{#            </ul>#}

        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script src={% static "js/plugins/iCheck/icheck.min.js"%}></script>
    <script type="text/javascript">
       window.onload=function () {
           //排序图标恢复初始状态
            $("th img").attr("src", "/../static/img/paixu4.png");
            {% if sort == "lesson_id" %}
                $("th.lesson_id img").attr("src", '/../static/img/paixu_up.png');
            {% elif sort == "-lesson_id" %}
                $("th.lesson_id img").attr("src", '/../static/img/paixu_down.png');
            {% elif sort == "name" %}
                $("th.name img").attr("src", '/../static/img/paixu_up.png');
            {% elif sort == "-name" %}
                $("th.name img").attr("src", '/../static/img/paixu_down.png');
            {% elif sort == "short_introduction" %}
                $("th.short_introduction img").attr("src", '/../static/img/paixu_up.png');
            {% elif sort == "-short_introduction" %}
                $("th.short_introduction img").attr("src", '/../static/img/paixu_down.png');
            {% endif %}
        //翻页不改变当前搜索内容
            var ex_href = "";
            {% if sort and sort != "" %}
                ex_href += '&sort={{ sort }}';
            {% endif %}
            $(".page_a").each(function () {
                var href = $(this).attr("href");
                $(this).attr("href", href + ex_href)
            });

    };
{#        $(document).ready(function () {#}
{#            $('.i-checks').iCheck({#}
{#                checkboxClass: 'icheckbox_square-green',#}
{#                radioClass: 'iradio_square-green',#}
{#            });#}
{#            $('.ibox-content').hover(function (event) {#}
{#                var target=event.target;#}
{#                $(target).find("label").addClass("hover");#}
{#                $(target).find("div").addClass("hover");#}
{#            },function (event) {#}
{#                var target=event.target;#}
{#                $(target).find("label").removeClass("hover");#}
{#                $(target).find("div").removeClass("hover");#}
{#            });#}
{##}
{##}
{##}
{#            $('.ibox-content').click(function (event) {#}
{#                console.log(event.target);#}
{#                var target=event.target;#}
{#                console.log($(target).parents("li").siblings());#}
{#                $(target).parents("li").siblings().find("div").removeClass("checked");#}
{#                $(target).parents("li").siblings().find("input").attr("checked",false);#}
{#                $(target).find("div").addClass("checked");#}
{#                $(target).find("input").attr("checked",true);#}
{#            });#}
{##}
{##}
{#         });#}
        $('#sousuobtn').click(function () {
            var $sousuo=$.trim($("#sousuo").val());
            if ($sousuo == "") {
                window.alert("请输入搜索项..");
            } else {
                window.location.href = "/t/get_course/" + $sousuo;
            }
            {# $.ajax({#}
            {#    type:"GET",#}
            {#    url:"/t/get_course/",#}
            {#    data:{#}
            {#        "target":$sousuo#}
            {#    },#}
            {#    async: false,#}
            {#error: function(error) {#}
            {#    console.log(error);#}
            {# },#}
            {#success: function(data) {#}
            {#    $("#page").html(data);#}
            {# }#}
            {# });#}
        });
{#        $('#updcourse').click(function () {#}
{#            var $radios=$('.i-checks input:radio:checked').val();#}
{#            if($radios===undefined){#}
{#                alert("请选择课程!");#}
{#            }else{#}
{#                window.location.href="/t/course_management/"+$radios;#}
{#            }#}
{#        });#}
{#         $('#chapter').click(function () {#}
{#            var $radios=$('.i-checks input:radio:checked').val();#}
{#            if($radios===undefined){#}
{#                alert("请选择课程!");#}
{#            }else{#}
{#                window.location.href="/t/chapter_management/"+$radios;#}
{#            }#}
{#        });#}
{#          $('#delcourse').click(function () {#}
{#            var $radios=$('.i-checks input:radio:checked').val();#}
{#            console.log($radios);#}
{#            if($radios===undefined){#}
{#                alert("请选择课程!");#}
{#            }else{#}
{#             window.location.href="/t/course_management/"+$radios+"/delete/";#}
{##}
{#            }#}
{#        });#}

{#        var $previous=document.getElementById("previous");#}
{#        var $next=document.getElementById("next");#}
{#        console.log($previous);#}
{#        console.log($next);#}
{#        if($next!=null) {#}
{#            document.getElementById("next").onclick = function () {#}
{#                nextval = parseInt($('#current').html()) + 1;#}
{#                console.log(nextval);#}
{#                $.ajax({#}
{#                    url: "/t/course_management?page=" + nextval,#}
{#                    type: "GET",#}
{#                    success: function (data) {#}
{#                        $('#page').html(data)#}
{#                    },#}
{#                    error: function (error) {#}
{#                        console.log(error);#}
{#                    }#}
{##}
{#                })#}
{#            };#}
{#        }#}
{#        if($previous!=null) {#}
{#            document.getElementById("previous").onclick = function () {#}
{#                previousval= parseInt($('#current').html()) - 1;#}
{#                console.log(previousval);#}
{#                $.ajax({#}
{#                    url: "/t/course_management?page=" + previousval,#}
{#                    type: "GET",#}
{#                    success: function (data) {#}
{#                        $('#page').html(data)#}
{#                    },#}
{#                    error: function (error) {#}
{#                        console.log(error);#}
{#                    }#}
{##}
{#                });#}
{#            };#}
{#        }#}



</script>

{% endblock %}