{% extends 'index.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-8">
            <h2>竞赛管理</h2>
           <ol class="breadcrumb">
                <li>
                    竞赛管理
                </li>
                 <li class="active">
                    <strong><a href="/t/import_competition_user/">竞赛报名(可跳转)</a></strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="col-lg-12">
              <div class="ibox-content">
                    <form enctype="multipart/form-data" method="post" id="net">
                        {% csrf_token %}
                        <input type="file" id="myfile" name="myfile" style="height: 32px;font-size: 1.4rem;"/>
                        <input  type="submit" id="upload" value="上传" class="btn btn-primary" style="width: 82px;
                        margin:auto 4% auto auto"/>
                    </form>
                     <div>
                        <button id="muban"  class="btn btn-primary" onclick="window.open('http://static.tuopinpin.com/static/com_user_muban.xlsx','_self');" style="width: 82px;margin:auto auto auto auto">模版下载</button>
                    </div>
                  <div class="ibox-content">
                      <img height="auto" width="960" src="{% static "img/com_user_muban.gif" %}" />
                  </div>
              </div>
        </div>

    </div>
{% endblock %}
{% block script %}
    <script>

    $("#upload").click(function () {
        var myfilecontent=document.getElementById('myfile').value;
        if(myfilecontent=="")
        {
            alert('未选择文件');
            return false;
        }
        else {
            var formData = new FormData();
            formData.append("myfile", document.getElementById("myfile").files[0]);
            formData.append("csrfmiddlewaretoken", document.getElementsByName("csrfmiddlewaretoken")[0].value);
            $.ajax({
                url: "/t/import_competition_user/",
                type: "POST",
                data: formData,

                /**
                 * * *必须false才会自动加上正确的Content-Type
                 * * */
                contentType: false,
                /**
                 * * * 必须false才会避开jQuery对 formdata 的默认处理
                 * * * XMLHttpRequest会对 formdata 进行正确的处理
                 * */
                processData: false,
                success: function (data) {
                    alert("提交成功，正在后台进行处理，稍后请查看右上角的消息中心。");
                },
                error: function () {
                    alert("上传失败！");
                }
            });
        }
        return false;
    });
    </script>
{% endblock %}