{% extends 'index.html' %}
{% block content %}
{#            <div class="row wrapper border-bottom white-bg page-heading">#}
        <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-8">
            <h2>上传测试</h2>
            <ol class="breadcrumb">
                <li>
                    <a>作业评估</a>
                </li>
                <li class="active">
                    <strong>上传测试</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="col-lg-12">
                  <div class="ibox-content">
                        <form enctype="multipart/form-data" method="post" id="net">
                            {% csrf_token %}
                             <input type="file" id="myfile" name="myfile" style="height: 32px;font-size: 1.4rem;"/>
                             <input  type="submit" id="upload" value="上传" class="btn btn-primary" style="width: 82px;
                              margin:auto 4% auto auto"/>

                        </form>


                    </div>

                </div>

{##}
{##}
{#        <div class="wrapper wrapper-content animated fadeInRight">#}
        {% if antlr_score %}
            <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>针对文件{{ filename }}的系统总评</h5>
                </div>
                <div class="ibox-content">
                    {% if total_score %}
                    <h4 id="score" class="panel-title dark-text"><i class="fa fa-star"></i><strong>成绩是:</strong>{{ total_score }}/21</h4>
                    {% else %}
                    <h4 id="score" class="panel-title dark-text"><i class="fa fa-star"></i><strong>由于一些原因，无法获得总成绩</strong></h4>
                    {% endif %}

                    {% if total_score < 8 %}
                        <h3 class="text-left dark-text">你的水平是<strong>基础! </strong></h3>
                        <p class="text-left dark-text">此处显示基础水平评价<br></p>
                    {% elif total_score < 14 %}
                        <h3 class="text-left dark-text">你的水平是<strong>成长中! </strong></h3>
                        <p class="text-left dark-text">此处显示成长中水平评价<br></p>
                    {% elif total_score <= 21 %}
                        <h3 class="text-left dark-text">你的水平是<strong>大师!</strong></h3>
                        <p class="text-left dark-text">此处显示大师水平评价<br></p>
                    {% else %}
                        <h3 class="text-left dark-text"><strong>您的水平高深莫测!</strong></h3>
                        <p class="text-left dark-text">此处显示未知水平评价<br></p>
                    {% endif %}
                </div>

                <div class="ibox-content">

                    <table  data-toggle="table"
       data-height="300">

                        <thead>
                        <tr>
                            <th>建议</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% if production_hints %}
                            {% for hint in production_hints %}
                                <tr>
                                    <td>{{ hint }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>作品很棒,没有建议</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>

                </div>
            </div>
            </div>

            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>细则评分</h5>
                    </div>
                    <div class="ibox-content">

                        {% for key, value in antlr_score.items %}
                            <h5>{{ value.name }}</h5>

                            <div class="progress progress-striped active">
                                <div style="width: {{ value.percentage }}" aria-valuemax="100" aria-valuemin="0" role="progressbar" class="{{ value.class_name }}">
                                    <span >{{ value.score }}/5</span>
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>
        </div>
        {% endif %}
        </div>
    {% endblock %}
{% block script %}
    <script type="text/javascript">
        $(function(){
            {% if error_happen %}
                alert('{{error_happen}}');
                setTimeout(window.location.href='/t/test/', 3);
            {% endif %}
         });
        $(document).ready(function () {
            {% if no_access %}
                alert("{{ no_access }}");
                setTimeout(window.location.href='{{ render_url }}', 3);
            {% endif %}
        })
    </script>

    <script type="text/javascript">


            $("#upload").click(function () {
                var myfilecontent=document.getElementById('myfile').value;
                if(myfilecontent=="")
                {
                    alert('未选择文件');
                    return false;
                }else{
                    var formData = new FormData();
                formData.append("myfile", document.getElementById("myfile").files[0]);
                formData.append("csrfmiddlewaretoken",document.getElementsByName("csrfmiddlewaretoken")[0].value);
{#                alert(document.getElementsByName("csrfmiddlewaretoken")[0].value);#}
                $.ajax({
                    url: "/t/test/",
                    type: "POST",
                    data: formData,
                    /**
                    *必须false才会自动加上正确的Content-Type
                    */
                    contentType: false,
                    /**
                    * 必须false才会避开jQuery对 formdata 的默认处理
                    * XMLHttpRequest会对 formdata 进行正确的处理
                    */
                    processData: false,
                    success: function (data) {
                             $("#page").html(data);
{#                        $("#imgWait").hide();#}
                    },
                    error: function () {
                        alert("上传失败！");
{#                        $("#imgWait").hide();#}
                    }
                });
                return false;
                }
{#                $("#imgWait").show();#}

            });


{#function Hint(){#}
{#            var form = new FormData(document.getElementById("net"));#}
{#            if(document.getElementById("myfile").value==""){#}
{#                alert("尚未选择文件")#}
{#                return false;#}
{#            }#}
{#            else{#}
{#                $.ajax({#}
{#                    type:"POST",#}
{#                    url:"/t/test/",#}
{#                    data:form,#}
{#                    async: false,#}
{#                    contentType:false,#}
{#                error: function(request) {#}
{#                    alert("Connection error:"+request.error);#}
{#                },#}
{#                success: function(data) {#}
{#                        alert(data);#}
{#                    $("#page-wrapper").html(data);#}
{#                    alert(data);#}
{#                }#}
{#                });#}
{#                alert("提交成功，可能需要数秒至数十秒来评测，在此过程中请不要刷新页面！");#}
{#                return false;#}
{#            }#}
{#        }#}
    </script>
{% endblock %}
